:root {
  --toptext-color: #e9e9e9;
  --body-bg: #19262f;
  --gradient-color: #582137, #713146, #582137;
  --active-color: #582137, #a34b69, #582137;
  --card-color: #e0f3ff;
  --button-color: #314b5d;
  --complimentary-color: #ffae7b;
  --text-color: #19262f;
  --topnav-text: 2rem;
  --page-backgroundcolor: #9dd8ff;
  --cardborder-color: #044b87;
  --font-family: "Poppins";
}

.site-title {
  font-size: 3rem;
  text-align: center;
}

.section-title {
  font-size: 2.25rem;
}

.diagonal {
  --skew-angle: -5deg;
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  background: linear-gradient(
    45deg,
    var(--cardborder-color),
    var(--card-color),
    var(--complimentary-color)
  );
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

.spikes {
  --spike-width: 50px;
  --spike-height: 50px;
  --spike-color: var(--body-bg);

  position: relative;
  color: black;
  background: linear-gradient(to right, #fdc830, #f37335);
}
.spikes::before,
.spikes::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--spike-height);
  background: var(--spike-color);
  -webkit-mask-image: url("../Assets/triangle.svg");
  -webkit-mask-size: var(--spike-width) var(--spike-height);
  mask-image: url("../Assets/triangle.svg");
  mask-size: var(--spike-width) var(--spike-height);
  /*mask-repeat: repeat-x; */
}

.spikes::before {
  top: 0;
}
.spikes::after {
  bottom: 0;
  transform: rotate(0.5turn);
}

.wavetop {
  background: linear-gradient(
    to top,
    var(--page-backgroundcolor),
    var(--page-backgroundcolor)
  );
  padding-top: 6rem;
  padding-bottom: 6rem;

  --mask: radial-gradient(102.96px at 50% 140px, #000 99%, #0000 101%)
      calc(50% - 100px) 0/200px 100%,
    radial-gradient(102.96px at 50% -90px, #0000 99%, #000 101%) 50% 50px/200px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.waveboth {
  /* mask created with https://css-generators.com/wavy-shapes/ */
  background: linear-gradient(
    to right,
    var(--card-color),
    var(--complimentary-color)
  );

  --mask: radial-gradient(62.61px at 50% 84px, #000 99%, #0000 101%)
      calc(50% - 56px) 0/112px 100%,
    radial-gradient(62.61px at 50% -56px, #0000 99%, #000 101%) 50% 28px/112px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/* Responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* TEXT */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  /* For desktop: */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
}
