@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https: //fonts.google.com/specimen/Poppins?query=Poppins");
@import url("https: //www.w3schools.com/w3css/4/w3.css");

#cardwrapper .card {
  /* Remember to apply to index??? */
  /* 291 */
  min-height: 150px;
  max-width: 600px;
  margin: 0 auto !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc();
  box-sizing: border-box;
}

* {
  box-sizing: border;
}

.margin {
  margin-left: 5%;
  margin-right: 5%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

:root {
  --gradient-color: #582137, #713146, #582137;
  --active-color: #582137, #a34b69, #582137;
  --card-color: #e0f3ff;
  --button-color: #314b5d;
  --complimentary-color: #ffae7b;
  --text-color: #19262f;
  --topnav-text: 2em;
  --page-backgroundcolor: #9dd8ff;
  --cardborder-color: #044b87;
  --font-family: "Poppins";
}

h1 {
  font-family: var(--font-family), sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 4vw;
  color: var(--text-color);
  text-transform: capitalize;
  margin: 60px 0 0 0;
}

#top h1 {
  margin: 12px 0 14 px 0;
  /* arvot kellonsuuntaisesti: ylös oikea alas vasen */
}
h2 {
  font-family: var(--font-family), sans-serif;
  font-size: 2.5vw;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  color: var(--text-color);
}

h2 + p {
  margin: 0 50px 0;
}

h3 {
  font-size: 2vw;

  margin: 12px 0 14 px 0;
  color: var(--text-color);
}

p {
  font-size: 1.5vw;
  color: var(--text-color);
}

#top p {
  margin-bottom: 13px;
}

ul {
  font-size: 1.5vw;
  padding: 5%;
}

html {
  box-sizing: border-box;
  padding-bottom: 5vw;
}

body {
  font-family: var(--font-family), sans-serif;
  font-kerning: normal;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--page-backgroundcolor);
  /* background-image: linear-gradient(var(--gradient-color)); */
}

body,
html {
  height: 100%;
  margin: 0;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(255, 193, 231, 0.301), rgba(36, 3, 3, 0.5)), url("../images/Test.jpeg"); */

  /* Set a specific height */
  height: 30vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: right;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Header */

footer {
  min-height: calc(100vh-100px);
  overflow: hidden;
}

/* NAV BAR */

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--card-color);
  border-color: var(--cardborder-color);
  /* background-image: linear-gradient(var(--gradient-color)); */
  min-height: calc(100vh-100px);
  overflow: hidden;
  border-color: var(--cardborder-color);
  box-shadow: 0 4px 8px 0 var(--button-color);
}

.topnav p {
  float: left;
  color: var(--text-color);
  margin: 0.5em;
  text-decoration: none;
  font-size: var(--topnav-text);
  position: relative;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: var(--text-color);
  text-align: right;
  padding: 0.5em;
  text-decoration: none;
  font-size: var(--topnav-text);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--complimentary-color);

  position: relative;

  -webkit-transition-duration: 0.4s;

  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #532f38;
  background-image: linear-gradient(var(--active-color));
  color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Alignments */

.centered {
  text-align: center;
}

.left {
  float: left;
  text-align: center;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* About */

*,
*:before,
*:after {
  box-sizing: inherit;
}

.card {
  box-shadow: 0 4px 10px 0 var(--cardborder-color);
  border-style: double;
  background-color: var(--card-color);
  padding: 0.5em;
  border-radius: 1em;
  border-color: var(--cardborder);
}
.card img {
  border-radius: 1em;
  border-color: var(--text-color);
  border-style: inset;
}

.card h2 {
  font-size: 2em;
}
.card div {
  box-shadow: none;
}

.about-section {
  text-align: left;
  background-color: #474e5d;
  color: white;
}

.points {
  float: left;
  text-align: left;
  line-height: 3vh;
}

.title {
  color: grey;
}

/* BUTTON------------------------------------ */

.badge {
  float: inherit;
  min-height: 10px;
  max-width: 20vw;
}

.button {
  border-radius: 0.5em;
  border-style: solid;
  border-color: var(--text-color);
  outline: 0;
  display: inline-block;
  padding: 3%;
  color: white;
  background-color: var(--button-color);
  text-align: center;
  cursor: pointer;
  width: 6em;
  height: auto;
  text-align: center;

  -webkit-transition-duration: 0.4s;

  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.button:hover {
  background-color: var(--complimentary-color);
  transform: scale(1.1);
}

/* NEW   */

/* Content */
.content {
  background-color: white;

  padding: 10px;
}

.section {
  margin: 0 20px 40px 0;
}

/* Create four equal columns that floats next to each other */
.column {
  display: flexbox;
  float: left;
  width: 33.3%;
}

.container {
  align-items: center;
  justify-content: center;
  height: auto;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Images------------------------------- */

.photo {
  padding: 3vw;
  width: 100%;
  height: 50vh;
}

.portrait {
  object-fit: cover;

  width: 100%;
  max-height: 100%;
  border-radius: 5em;
}

.image {
  margin: auto;
  text-align: center;

  width: 100%;
  height: 500px;
  flex-basis: 80%;
}

.projectimage {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.screenshots {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border: 2px solid #ffffff;
}

.videoportrait {
  padding-left: 67%;
  height: 35em;
  width: auto;
  float: calc();
}

img {
  max-width: 100%;
  max-height: 400px;
}

.img1 {
  float: right;
  min-width: 30%;
  max-width: 60%;
  height: auto;
  padding: 20px;
}

.img2 {
  float: center;
  max-width: 70%;
  height: auto;
  padding: 20px;
}

.img3 {
  max-width: 100%;
  max-height: 300px;
  padding: 20px;
  display: flexbox;
  position: static;
}

.chart {
  min-width: 45vw;
  max-width: 100%;
  min-height: 10vh;
  max-height: 100%;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

/* Responsiveness */

.responsive {
  width: 100%;
  height: auto;
  padding: 0 6px;
  float: left;
}

/* VIDEO */
.iframecontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .button {
    font-size: 8vw;
  }
  .card {
    border-radius: none;
  }

  .card p {
    font-size: 4vw;
  }

  .card h2 {
    font-size: 5vw;
  }

  h1 {
    font-size: 10vw;
  }
  h3 {
    font-size: 5vw;
  }

  p {
    font-size: 4vw;
  }

  li {
    font-size: 4vw;
  }

  .badge {
    max-width: 50vw;
  }

  .chart {
    min-width: 55vw;
    max-width: 10vw;
  }

  /* TEXT */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .responsive {
    width: 100%;
    font-size: 1.5vw;
  }

  .button {
    width: 5em;
    height: auto;
    font-size: 2vw;
  }

  .flex {
    display: block;
  }

  .left {
    box-shadow: none;
  }

  p {
    font-size: 1.5vw;
  }

  .badge {
    max-width: 50vw;
  }

  .card p {
    font-size: 3vw;
  }

  .button {
    font-size: 5vw;
  }

  .portrait {
    width: 75%;
    max-height: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  .card p {
    font-size: 2em;
  }

  h1 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
  }

  .col-3 {
    width: 100%;
  }

  .card li {
    font-size: 3vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 50%;
  }

  .col-4 {
    width: 100%;
  }

  .col-5 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 100%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  h1 {
    font-size: 5vw;
  }

  .card h2 {
    font-size: 2.5vw;
  }
  .button {
    font-size: 4vw;
  }

  .chart {
    min-width: 25vw;
    min-height: 25vh;
  }

  .card p {
    font-size: 2vw;
  }
  .margin {
    margin-left: 15%;
    margin-right: 15%;
  }
  .portrait {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  h1 {
    font-size: 3vw;
  }
  h3 {
    font-size: 1.5vw;
  }
  p {
    font-size: 1.5vw;
  }

  .card p {
    font-size: 0.9vw;
  }

  .card h2 {
    font-size: 1.25vw;
  }

  .button {
    font-size: 2vw;
  }

  .chart {
    min-height: auto;
    min-width: 25vw;
  }

  .card li {
    font-size: 1vw;
  }

  .badge {
    max-width: 10em;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
  .portrait {
    width: 80%;
  }

  .margin {
    margin-left: 10%;
    margin-right: 10%;
  }
}
